.header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(20,20,20); */
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: red; */
}
.nav_black{
    background-color: rgb(20,20,20);
}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
      /* background-color: red; */
    
}
.header_left ul{
    width: 140%;
    display: flex;
   list-style-type: none;
    align-items: center;
     justify-content: space-between;
       /* background-color: red; */
}
.header_right ul{
   width: 150%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
      /* background-color: red; */
}
/* Max-width for smartphones */
@media (max-width:720px){
    .header_left ul li:not(:first-child){
        display:none;   
    }
}
/* Max-width for tablet */
@media (max-width:960px){
    .header_left ul li:not(:first-child){
        display:none;   
    }

}